<html>
	<body>
		<img src="https://servicios.rpba.gob.ar/images/comun/header_gba.png" />
		<br><br>Estimado/a <b>$jossoUser.name</b>,<br></br>
		Recibimos una solicitud para blanquear la contrase&ntilde;a de tu cuenta.<br></br>

		Sigue estos pasos:<br></br><br></br>

		Paso 1 . Activar el blanqueo de contrase&ntilde;a mediante este link <b><a href="$jossoConfirmUrl">$jossoConfirmUrl</a></b><br></br>
		Si el enlace no funciona, copia y pega la URL en una ventana nueva del explorador.
		<br></br><br></br>

		Paso 2 . Su nueva contrase&ntilde;a es <b>$jossoClearPassword</b><br></br><br></br>

		Importante: El enlace funciona solo una vez y caducar&aacute; en 24 horas por motivos de seguridad.<br></br><br></br>
	</body>
</html>